force-app/main/default/flows/Campaign_Lead_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assign_single_Ad</name>
        <label>assign single Ad</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>assign_Ad.UTM_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_campaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Ad.UTM_Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_content</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Ad.UTM_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Ad.UTM_Medium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_medium</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Ad.UTM_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_source</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Ad.UTM_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_term</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Ad.UTM_Referer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_referer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Ad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_single_Lead</name>
        <label>assign single Lead</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>assign_Lead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>name.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Lead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>name.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Lead.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Lead.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Lead.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Lead.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Lead.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Lead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Lead.Ad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assign_Ad.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assign_Lead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lead from Web</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Campaign_Check</name>
        <label>Campaign Check</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Invalid</defaultConnectorLabel>
        <rules>
            <name>valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaigns.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_single_Ad</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Campaign Lead Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Campaign Lead Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Ad</name>
        <label>Create Ad</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Contact_Form</targetReference>
        </connector>
        <inputReference>assign_Ad</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <inputReference>assign_Lead</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaigns</name>
        <label>Get Campaigns</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>utm_source</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Contact_Form</name>
        <label>Contact Form</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assign_single_Lead</targetReference>
        </connector>
        <fields>
            <name>display_form_header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Contact Form&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>test_UTM_data</name>
            <fieldText>&lt;p&gt;{!utm_campaign}&lt;/p&gt;&lt;p&gt;{!utm_content}&lt;/p&gt;&lt;p&gt;{!utm_id}&lt;/p&gt;&lt;p&gt;{!utm_medium}&lt;/p&gt;&lt;p&gt;{!utm_referer}&lt;/p&gt;&lt;p&gt;{!utm_source}&lt;/p&gt;&lt;p&gt;{!utm_term}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Campaigns</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>assign_Ad</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ad__c</objectType>
    </variables>
    <variables>
        <name>assign_Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>utm_campaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utm_content</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utm_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utm_medium</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utm_referer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utm_source</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utm_term</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
